<div data-controller="sync" class="inline-block min-w-full shadow rounded-lg overflow-hidden">
  <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Hostname
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Region
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Ip Address
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Ptp Configuration
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Ptp Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% hosts.each do |host| %>
        <tr>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <div class="flex items-center">
              <div class="flex-shrink-0 w-10 h-10">
                <img class="w-full h-full rounded-full"
                                          src= <%= asset_path 'CSG.jpg' %>
                                          alt="" />
                                  </div>
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    <%= host.name %>
                  </p>
                </div>
              </div>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap"><%= host.region.name %></p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= host.address %>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= host.ptp_config %>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <span
                                  class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                  <span aria-hidden
                                      class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
            <span class="relative"
                  data-controller="sync"
                  data-action="load@window->sync#check_ptp_status" 
                  data-sync-id-value="<%= host.id %>" >
              <%= host.ptp_status %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div
    class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>